<!-- Edit Modal Structure -->
<div id="newModal" class="modal grey lighten-2">
    <div class="modal-content">
        <form id="newForm" method="POST" action="/">
            <h4 class="center">Agregar usuario</h4>
            <div class="input-field">
                <input type="text" name="newnom" id="newnom" required>
                <label for="newnom">Nombre</label>
            </div>
            <div class="input-field">
                <input type="email" name="newcorreo" id="newcorreo" required>
                <label for="newcorreo">Correo</label>
            </div>
            <div class="input-field">
                <input type="text" name="newtel" id="newtel" required>
                <label for="newtel">Número</label>
            </div>
        </form>
    </div>
    <div class="modal-footer grey lighten-2">
        <a href="#!" class="modal-close waves-effect waves-light btn red">Cancelar</a>
        <a class="waves-effect waves-light btn modal-trigger green" href="#confirmNew">Agregar</a>
    </div>
</div>
<!-- Modal Structure -->
<div id="confirmNew" class="modal grey lighten-2">
    <div class="modal-content center">
        <p>¿Deseas agregar a este usuario?</p>
    </div>
    <div class="modal-footer grey lighten-2">
        <a href="#!" class="modal-close waves-effect waves-light red btn">No</a>
        <a class="waves-effect waves-light btn green" id="new">Si</a>
    </div>
</div>
</div>